<html ng-app>
    <head>
    
        <script src="bower_components/angular/angular.js"></script>
    </head>
    
    <input type="text" ng-model="names">
    <h1>{{names}}</h1>
    <input type="checkbox" ng-model="check">
    <h1>{{check}}</h1>
    <h3>{{5+5}}</h3>
    <h3>{{5+"5"}}</h3>
    <h3>{{5-"5"}}</h3>
    
    <input type="radio" name="gender" ng-model="rad" value="Male">
    <input type="radio" name="gender" ng-model="rad" value="Female">
    <h1>{{rad}}</h1>
    
    <button ng-click="btn">click here</button>
    <h1>{{btn}}</h1>
</html> 